<%= render 'books/form', book: @newbook %>

<div class="col-xs-9">
<h1>Book detail</h1>

  <table>
    <tbody>
      <tr>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td>
          <% if @book.user == current_user %>
           <%= link_to "Edit", edit_book_path(@book.id) %>
          <% end %>
           </td>
        <td>
          <% if @book.user == current_user %>
        	<%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: 'Are You Sure?'} %>
          <% end %></td>
      </tr>
    </tbody>
 </table>
         <%= link_to user_path(@book.user.id) do %><%= @book.user.name %><% end %>
</div>
