<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5ac4675677.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <div class="ßeader" id="header">
      <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">
        <div class="container relative">
          <div class="navbar-header">
            <h1>Bookers</h1>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if user_signed_in? %>

                <li class="">
                 <%= link_to user_path(current_user) do %>
                  <i class="fas fa-home">  Home</i>
                 <% end %>
                </li>

                <li class="">
                 <%= link_to users_path do %>
                  <i class="fas fa-user">  Users</i>
                 <% end %>
                </li>

                <li class="">
                 <%= link_to  books_path do %>
                 <i class="fas fa-book">  Books</i>
                 <% end %>
                </li>

                <li class="">
                  <i class="fas fa-book"></i>
                 <%= link_to 'Books', books_path %>
                </li>

                <li class="">
                  <%= link_to destroy_user_session_path, method: :delete  do%>
                  <i class="fas fa-sign-out-alt">  Log out</i>
                  <% end %>
                </li>

              <% else %>
              <!-- ログイン前 -->
                <li class="">
                 <%= link_to root_path do %>
                  <i class="fas fa-home">  Home</i>
                 <% end %>
                </li>

                <li class="">
                  <%= link_to tops_about_path do %>
                  <i class="fas fa-paperclip">  About</i>
               <% end %>
                </li>

                <li class="">
                  <%= link_to new_user_registration_path do %>
                  <i class="fas fa-user-plus">  Sign up</i>
                  <% end %>
                </li>

                <li class="">
                  <%= link_to new_user_session_path do %>
                  <i class="fas fa-sign-in-alt">  Login</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>


<% if flash[:notice]%>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>




    <%= yield %>
  </body>
  <footer>
    <div class="col-xs-3 col-xs-offset-9">CopyRight Infratop.inc</div>
  </footer>

</html>
